<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149484702300-khp3vrr9133farvt07lv57ti3mef4c3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149484702300-khp3vrr9133farvt07lv57ti3mef4c3j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>149484702300-45hhqj4p08gi38qfj31qatodlslqlg9u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC163XV-w7cJGHnhS1B_3pPySYXLOU2kbY</string>
	<key>GCM_SENDER_ID</key>
	<string>149484702300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.ureca.id.dev</string>
	<key>PROJECT_ID</key>
	<string>vdvc-a8005</string>
	<key>STORAGE_BUCKET</key>
	<string>vdvc-a8005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149484702300:ios:4af6b0dcd1ff29a8fcf499</string>
</dict>
</plist>